@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800;900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
#main-container{
    width: 100%;
    padding-top: 2%;
    padding-bottom: 8%;
}
.slick-slide {
    width: 100%;
    margin: 0 80px;
}
.slick-dots {
    list-style-type: none;
    width: 100%;
    max-width: 200px;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
}
.slick-dots li {
    display: inline-block;
}
.slick-dots button {
    display: inline-block;
    font-size: 0px;
    color: #ccc;
    background-color: #ccc;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 0;
    margin-left: 6px;
    margin-right: 6px;
    outline: none;
    cursor: pointer;
}
.slick-active button {
    background-color: #aaa;
}

#clothing,#accessories{
    padding: 4% 8% 0;
}
h2{
    margin-top: 28px;
    opacity: 0.8;
    font-weight: 600;
    font-size: 28px;
}
#accessories-section,#clothes-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card{
    border-radius: 5px;
    max-width: 18%;
    margin: 30px 0.5%;
    background-color: #fff;
    box-shadow: 0 2px 10px #ccc;
    transition: all 0.5s;
}
.card:hover{
    box-shadow: 0 2px 10px #444;
    transform: scale(1.05,1.05);
}
.card img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    cursor: pointer;
}
.details{
    padding-left: 10px;
    margin: 10px 0;
}
.details h3{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: rgb(27, 25, 25);
}
.details h5{
    margin-bottom: 20px;
    font-size: 15px;
    letter-spacing: 2px;
    color: #009688;
}
.details h4{
    margin: 10px 0;
    font-size: 12px;
    color: rgb(110, 110, 110);
}
@media(max-width:992px){    
    .details h3{
        font-size: 12px;
    }
    .details h5{
        margin-bottom: 5px;
        font-size: 11px;
    }
    .details h4{
        margin: 5px 0;
        font-size: 8px;
    }
}
@media(max-width:768px){
    #accessories-section,#clothes-section{
        flex-direction: column;
    }
    .card{
        max-width: 100%;
        margin: 12px 2px;
        display: flex;
        align-items: center;
    }
    .card img{
        width: 80px;
        border-radius: 0;
    }
    .card>a{
        padding: 5px;
    }
    .details h3{
        font-size: 16px;
    }
    .details h5{
        font-size: 15px;
    }
    .details h4{
        font-size: 12px;
    }
}
@media(max-width:510px){
    h2{
        font-size: 20px;
    }
    .card img{
        width: 50px;
    }
    .details h3{
        font-size: 12px;
    }
    .details h5{
        font-size: 11px;
    }
    .details h4{
        font-size: 8px;
    }
}